@import '../../index.scss';

.container {
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/images/login.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    display: flex;
    justify-content: flex-end;
    
}

.login-content {
    width: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    height: 100%;
    flex-direction: column;
    background: #fff;
    right: 0; 
    h1 {
        font-size: 28px;
        line-height: 35.2px;
    }

    p {
        color: #7C8394;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }

    .login-form {
        width: 100%!important;
        padding: 0 73px;
    }
 
}


.form-label {
    width: 100%!important;
    margin-bottom: 20px;
}
 

.input__input {
    border: 1px solid #ddd;
    width: 100%;
    padding: 5px;

    &:focus{
        box-shadow: 0 0 3px $primary-color!important;
        border-color: $primary-color;
    }
}