@import '../../index.scss';

.topnav {
    width: 100%;
    height: $topnav-height;
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right:30px;
    position: fixed;
    z-index: 1000;
    top: 0;

    .header__brand {
        width: $sidebar-width;
        background: $primary-second;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .topnav__right-menu {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: space-between;

        span {
            color: #fff;
            display: flex;
            align-items: center;
            gap: .5rem;
        }
    }

    .topnav__left {
        display: flex;
        align-items: center;
        height: 100%;
    }
}

.dropdown {
    cursor: pointer;
    width: 110px;
}

.dropdown-btn {
    cursor: pointer;
    background: transparent;

    &:disabled{
        opacity: .5;
        cursor: default;
    }
}

.top-nav_icon {
    font-size: 15px!important;
}

.fi-ga.drop {
    font-size: 70px!important;
}


.profile__user-item {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
    border-radius: 5px;
    background: #fff;
    width: 250px;
    .profile__user-item__name {
        font-size: .875rem;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding-top: 5px;
        h3 {
            margin-bottom: -5px;
        }

        h4 {
            color: $gray-txt-color;
        }
    }

    .profile__user-item__image {
        width: 40px;
        height: 40px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}    