//  Source Sans Pro font style //
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    outline: none;
    text-decoration: none;
    scrollbar-color: transparent;
    scrollbar-width: 5px!important; 
}


@media screen and (max-width: 768px) {
    *, *::after, *::before {
        user-select: none;
    }
}


// base variables

$primary-color: #3C8DBC;
$primary-second: #367FA9;
$bg-white: #ffffff;
$bg-second: #f3f3f3;
$main-bg: #ECF0F5;
$f-family: 'Source Sans Pro', sans-serif;
$topnav-height: 50px;
$sidebar-width: 250px;
$border-color: #D2D6DE;
$gray-txt-color: #555;
$hovered-color: #EEF3FF;


*::-webkit-scrollbar {
    width: 0;
}


.scroller {
    display: none;
}





body {
    background-color: $main-bg;
}

a {
    color: unset;
}


img {
    max-width: 100%;
}


.section {
    min-height: 80vh;
}


.content-table tr {
    padding: 10px!important;
}

.table-title {

    h2 {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: -3px;
        text-transform: capitalize;
    }

    p {
        color: $gray-txt-color;
    }
}



.btn-primary {
    background-color: $primary-color!important;
    color: #fff!important;
    gap: .3rem;
    display: flex!important;
    align-items: center!important;
    justify-content: center;
    font-size: 14px!important;

    i {
        font-size: 1.3rem!important;
    }

    &:disabled{
        opacity: .7;
    }
}


.form__input-small{ 
    border: 1px solid #eee !important;
    box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.05); 

    * {
        border: none!important;
        outline: none !important;
    }

    &:target{
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
    } 
}


.form__input {
    width: 100%!important;
    border: none !important;
    box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.05);
    height: 35px;
    display: flex;
    align-items: center; 
    font-size: 1rem!important;
    overflow: hidden;
    padding-left: .5rem;

    * {
        border: none!important;
        outline: none !important;
    }

    &:target{
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
    }

    &.wdith_3{
        width: 30rem!important;
    }
}

 

.form-group{
    width: 100%!important;
    padding: 0!important;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .form-group__item {
        width: 70%!important;
        padding: 0 ;
    }

    .form-group__min-item {
        width: 30%!important;
    }
    .form__select {
        width: 100%!important;
    }
}




.pincode__field {
    padding: 1px 10px;
    background-color: #fff;
    box-shadow:  0 8px 14px rgba(0, 0, 0, 0.05);
    border-radius: 3px;   
    cursor: pointer;
    color: $gray-txt-color;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .flex{
        display: flex;
        flex-direction: column;
        width: 100%!important;
    }
    .topnav__right-menu{
        gap: 15px!important;
    }
    .dropdown{
        width: 30px;
    }
    .dropdown__text{
        display: none!important;
    }
    .content-top {
        display: flex;
        flex-direction: column;

        input, select{
            width: 100% !important;
        }

        button{
            width: 100%;
        }


        
    }

    .form__input {
        width: 100%!important;
        box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.05);
        margin: 0!important;
        border: 1px solid rgba(0,0,0,.1)!important;


        &[type="text"]{
            padding: 5px!important;
        }

        * {
            border: none!important;
            outline: none !important;
        }
    
        &:target{
            border: none !important;
            outline: none !important;
            box-shadow: none !important;
        }
    
        &.wdith_3{
            width: 100%!important;
        }

        




    }


.content__range-picker {
    padding: 5px 10px!important;
    width: 50%!important;
}
    
    .content-top__group{
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 100%!important;

        .form__input {
            width: 100%!important;
        }
    }

    .main-content{
        padding: 40px 10px!important;
    }

}


.content-body {
    overflow-x: auto;
    .content-table {
        min-width: 800px;
    }
}

.table_input {
    border: 1px solid #999!important;
    padding: 0;
    display: flex;
    align-items: center;
    width: 150px!important;
    height: 30px!important;

    * {  
    &::placeholder{
        color: #666!important;
    } 
    }
}



 

.pagination__bottom {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}


.content-top__group {
    width: 300px;
    display: flex;
    gap: 20px;
    input{
        width: 50%!important;
    }
}


    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        z-index: 999999;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            width: 250px;
        }
    }
 

.ant-layout-footer {
    padding: 0!important;
}

.layout__footer {
    height: 60px;
    display: flex;
    align-items: center;

    img {
        width: 130px;
        object-fit: cover;
    }
}

.table-text-group {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    align-items: center;
    p {
        color: $gray-txt-color;
        font-size: .800rem;
        font-weight: 600;
        margin: 0;
        padding: 0;
    }
}

.select-group {
    display: flex;
    align-items: center;
    gap: 1rem;
    .form__input {
        width: 350px!important;
    }
}

@media screen and (max-width: 768px) {
    
.select-group {
    width: 100%;
    flex-direction: column;
    .form__input {
        width: 100%!important;
    }
}

.drawer-big {
    div{
        width: 100%!important;
    }
}

.drawer-table {
    min-width: 400px;
    overflow: auto;
}
}